$smallSpace: 10px;
$mediumSpace: 20px;
$largeSpace: 30px;

body {
	background: #eee;
}

/*helper classes*/
.access {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	width: 1px; 
	margin: -1px; 
	padding: 0; 
	border: 0; 
}

.cta-form {

	&__input {
		font-size: 20px;
		padding: 20px 30px;
		border: 0;
		box-shadow: 0;
		margin-bottom: $mediumSpace;
		margin-right: $mediumSpace;
	}
}

.result {
	border: 1px solid grey;
	background: #fff;
	padding: 20px;
	height: 150px;
	margin-bottom: $largeSpace;

	&__title {
		font-size: 18px;
		margin-top: 0;
	}

	&__url {
		display: inline-block;
		position: relative;
		padding: 5px 0;

		&:after {
			content: "";
			position: absolute;
			border: 6px solid transparent;
			border-left: 6px solid lightblue;
			margin-top: 4px;
			margin-left: 5px;
		}
	}
}

.footer {
	background: #eee;
	margin-top: $largeSpace;
}