<h1>Where can I get pizza?</h1>

<form name="ctaForm" ng-submit="main.request(ctaForm)" novalidate>
    <label for="location-input" class="access">Enter a location here</label>
    <input class="cta-form__input" ng-change="main.showResult=false" name="location-input" ng-model="main.location" placeholder="eg. London" required>
    <input class="cta-form__input" type="submit" value="Show me">
</form>

<h2 ng-show="main.showResult && main.success">Results for: {{main.match}}</h2>
<p ng-show="main.showResult && main.success==false">Sorry, no results for "{{main.location}}"</p>
<div class="row">
     <leaflet lf-center="main.mapCenter" markers="main.markers" width="100%" height="480px"></leaflet>
</div>
<br>

<div class="row">
    <div class="col-xs-6 col-xl-4" ng-repeat="venue in main.venues">
        <div class="result">
            <h3 class="result__title">{{venue.name}}</h3>
            <p>{{venue.location.address}}</p>
            <a class="result__url" ng-show="{{'venue.url'}}" ng-href="{{venue.url}}">Website</a>
        </div>
    </div>
</div>
